.layui-card {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

.icon {
    margin-right: 10px;
    color: #1aa094;
}

.icon-cray {
    color: #ffb800!important;
}

.icon-blue {
    color: #1e9fff!important;
}

.icon-tip {
    color: #ff5722!important;
}

.welcome-module {
    width: 100%;
    height: 210px;
}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
    padding: 10px
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: inherit
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-top: .3em;
}

.layui-red {
    color: red
}

.main_btn>p {
    height: 40px;
}

.layui-bg-number {
    background-color: #F8F8F8;
}
